Repository marklai1998/Alopex-Panel: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: update logo
  package-lock.json
  src/pages/_Layout/Header/logo.svg
Due: none

chore: add eslint
  .eslintignore
  .eslintrc.yml
  .lintstagedrc.json
  package-lock.json
  package.json
  src/index.js
  src/modules/Dashboard/index.js
  src/modules/Login/Login.js
  src/modules/Login/index.css
  src/modules/Login/index.js
  src/modules/_shared/components/Avatar/index.js
  src/modules/_shared/components/Box/index.js
  src/modules/_shared/components/Console/Console.js
  src/modules/_shared/components/Console/index.css
  src/modules/_shared/components/Console/index.js
  src/pages/_Layout/Header/index.js
  src/pages/_Layout/Sider/Sider.js
  src/pages/_Layout/Sider/index.css
  src/pages/_Layout/Sider/index.js
  src/pages/_Layout/SubHeader/SubHeader.js
  src/pages/_Layout/SubHeader/index.js
  src/pages/_Layout/index.css
  src/pages/_Layout/index.js
  src/pages/index.js
  webpack.config.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: add login background
  package-lock.json
  package.json
  src/modules/Login/Background/alopex.svg
  src/modules/Login/Background/index.css
  src/modules/Login/Background/index.js
  src/modules/Login/Background/land.svg
  src/modules/Login/Background/mountains.svg
  src/modules/Login/Login.js
  src/modules/Login/index.css
  src/modules/Login/index.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: create login box
  src/modules/Login/Background/index.css
  src/modules/Login/Background/index.js
  src/modules/Login/Login.js
  src/modules/Login/index.css
  webpack.config.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: drop shadow on ui elements
  src/modules/Login/Login.js
  src/modules/Login/index.css
  src/modules/_shared/components/Console/index.css
  src/pages/_Layout/Header/index.css
  src/pages/_Layout/Sider/index.css
  src/pages/_Layout/SubHeader/SubHeader.js
  src/pages/_Layout/SubHeader/index.css
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: update webpack config
  .flowconfig
  package-lock.json
  src/assets/favicon.ico
  src/assets/logo.svg
  src/index.js
  src/pages/_Layout/Header/index.js
  webpack.config.js
Due: import-sort --write, flow focus-check, jest --bail --findRelatedTests

feat: login form layout
  .flowconfig
  package-lock.json
  package.json
  src/modules/Login/Login.js
  src/modules/Login/index.css
  src/modules/_shared/components/Box/index.css
  src/modules/_shared/components/Logo/index.css
  src/modules/_shared/components/Logo/index.js
  src/modules/_shared/components/inputFields/Text/index.js
  src/modules/_shared/components/inputFields/Text/styles.css
  src/pages/_Layout/Header/index.css
  src/pages/_Layout/Header/index.js
  src/pages/_Layout/SubHeader/index.css
  src/style.css
  webpack.config.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

refactor: implement code-spilting
  .babelrc
  package-lock.json
  package.json
  src/index.js
  src/modules/Dashboard/Dashboard.js
  src/modules/Dashboard/index.js
  src/modules/Login/Background/index.js
  src/modules/_shared/components/Avatar/index.js
  src/modules/_shared/components/Loading/index.css
  src/modules/_shared/components/Loading/index.js
  src/modules/_shared/components/inputFields/Text/index.js
  src/modules/_shared/utils/createStore.js
  src/pages/Dashboard/index.js
  src/pages/Login/index.js
  src/pages/_Layout/Header/Header.js
  src/pages/_Layout/Header/index.js
  src/pages/index.js
  webpack.config.js
  yarn.lock
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

refactor: implement code splitting
  .gitignore
Due: none

feat: about page layout
  package-lock.json
  src/assets/AlopexBg/alopex.svg
  src/assets/AlopexBg/index.css
  src/assets/AlopexBg/index.js
  src/assets/AlopexBg/land.svg
  src/assets/AlopexBg/mountains.svg
  src/modules/Dashboard/Dashboard.js
  src/modules/Login/Login.js
  src/modules/_shared/components/Box/index.css
  src/modules/settings/About/index.css
  src/modules/settings/About/index.js
  src/pages/Settings/About/index.js
  src/pages/Settings/index.js
  src/pages/_Layout/index.css
  src/pages/index.js
  src/style.css
  webpack.config.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

fix: change scroll won't reset scroll
  src/modules/Login/Login.js
  src/modules/_shared/components/AlopexBg/alopex.svg
  src/modules/_shared/components/AlopexBg/index.css
  src/modules/_shared/components/AlopexBg/index.js
  src/modules/_shared/components/AlopexBg/land.svg
  src/modules/_shared/components/AlopexBg/mountains.svg
  src/modules/settings/About/index.js
  src/pages/Dashboard/index.js
  src/pages/Settings/About/index.js
  src/pages/_Layout/Scroll/index.css
  src/pages/_Layout/Scroll/index.js
  src/pages/_Layout/index.css
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: default routs
  src/pages/index.js
Due: import-sort --write, flow focus-check, jest --bail --findRelatedTests

fix: layout overflow
  package-lock.json
  package.json
  src/pages/_Layout/Scroll/index.js
  src/pages/_Layout/Sider/Sider.js
  src/pages/_Layout/Sider/index.css
  src/pages/_Layout/index.css
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

feat: add links to setting
  src/pages/_Layout/Sider/Sider.js
  src/pages/_Layout/Sider/index.css
  src/style.css
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore: update routes
  package.json
  src/pages/Settings/About/index.js
  src/pages/Settings/index.js
  src/pages/_Layout/Sider/Sider.js
  src/pages/index.js
Due: import-sort --write, flow focus-check, jest --bail --findRelatedTests

refactor: code rearrange
  src/modules/Error/index.js
  src/modules/_Layout/Header/Header.js
  src/modules/_Layout/Header/index.css
  src/modules/_Layout/Header/index.js
  src/modules/_Layout/Layout.js
  src/modules/_Layout/Sider/Sider.js
  src/modules/_Layout/Sider/index.css
  src/modules/_Layout/Sider/index.js
  src/modules/_Layout/SubHeader/index.css
  src/modules/_Layout/SubHeader/index.js
  src/modules/_Layout/index.css
  src/modules/_Layout/index.js
  src/modules/_shared/components/Scroll/index.css
  src/modules/_shared/components/Scroll/index.js
  src/pages/Dashboard/index.js
  src/pages/Error/index.js
  src/pages/Login/index.js
  src/pages/Players/index.js
  src/pages/Settings/About/index.js
  src/pages/_Layout/SubHeader/index.js
  src/pages/_Layout/index.js
  src/pages/index.js
  src/redux/ui/reducer.js
Due: stylelint --fix, import-sort --write, flow focus-check, jest --bail --findRelatedTests

chore(deps): add renovate.json
  renovate.json
Due: none

Path conditions:
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.js
  flow focus-check: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
